.rate-button {

  &__star {
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 2.4rem;

    background: $grad-primary;
    background-clip: text;
    color: transparent;

    &_wrapper {
      display: inline-block;
      position: relative;
    }

    &_left {
      clip-path: inset(0 49% 0 0);

      overflow: hidden;
    }

    &_right {
      clip-path: inset(0 0 0 49%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &_active {
      background: $grad-primary;

      font-variation-settings:
        'FILL'1;
      background-clip: text;
      color: transparent;
    }
  }
}