.radio-button {
  cursor: pointer;
  user-select: none;
  display: flex;

  &__input {
    cursor: inherit;

    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.1rem solid $clr-dark-25p;

    transition: outline-offset 0.3s ease-in-out;
    outline-offset: -1rem;
  }

  &__input:checked {
    background: $grad-primary;
    outline: 0.3rem solid #fff;
    outline-offset: -0.4rem;
    border: 0.1rem solid $clr-primary;
  }

  &__text {
    padding-left: 1rem;
    cursor: pointer;

    color: $clr-dark-50p;

    line-height: 2;
  }
}