include ../includes/head/head
doctype html
html(lang='en')
  +head('Toxin Hotel')
  body
    h1 My Site
    p Welcome to my super lame site
    p #{name}'s Pug source code!
    script(src = require('./index.js') defer = 'defer')