.colors-type__wrapper {
  margin-top: 6.45rem;
  margin-left: 14.25rem;
  margin-right: 14.95rem;

  display: flex;
  justify-content: space-between;
  align-items: start;
}

.colors__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 28.126rem;
}

.type__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4.75rem 3rem;

  max-width: 43.6rem;
}