@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/montserrat/montserrat-variablefont_wght.woff2) format("woff2-variations");
  src: url(../assets/fonts/montserrat/montserrat.woff2) format("woff2");
  font-weight: 1 999;
}