@font-face {
  font-family: 'Montserrat';
  src: url(Fonts/montserrat/montserrat-variablefont_wght.woff2) format("woff2-variations");
  src: url(Fonts/montserrat/montserrat.woff2) format("woff2");
  font-weight: 1 999;
}

@font-face {
  font-family: 'Material Icons';
  src: url(Fonts/material-design-icons/material-icons-outlined-variablefont_wght.woff2) format("woff2-variations");
  src: url(Fonts/material-design-icons/material-icons-outlined.woff2) format("woff2");
  font-weight: 1 999;
}