block variables

doctype html
html(lang='en')
  include Includes/head/head.pug
  +head(title)
  body
    header
      .header-wrapper
        include Components/logo/logo.pug
        +logo(48, 48, false)
    main
      block content
    script(src = require('Pages/index.js') defer = 'defer')